{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
        <title>Sesame IO | Make learning visible</title>

        <!-- fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'stock/app/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'stock/app/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'stock/app/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'stock/app/ico/apple-touch-icon-57-precomposed.png' %}">
        <link rel="shortcut icon" href="{% static 'stock/app/ico/favico.png' %}">
        <link rel="shortcut icon" href="{% static 'stock/app/ico/favico.ico">

        <!-- theme fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- theme bootstrap stylesheets -->
        <link href="{% static 'stock/bootstrap/css/bootstrap.css' %}" rel="stylesheet" />

        <!-- theme dependencies stylesheets -->
        <link href="{% static 'stock/app/css/dependencies.css' %}" rel="stylesheet" />

        <!-- theme app main.css (this import of all custom css, you can use requirejs for optimizeCss or grunt to optimize them all) -->
        <link href="{% static 'stock/app/css/syrena-admin.css' %}" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' %}"></script>
        <![endif]-->

        {% verbatim %}
        <script type="text/x-handlebars-template" id="main-nav-template">
            <!-- open nav ul -->
            <ul>
                <li class="side-nav-item home">
                    <a href="#">
                        <i class="nav-item-icon icon ion-home"></i>
                        Home
                    </a>
                </li><!-- /Home-->
                <!-- List classes -->
                {{#each this}}
                <li class="side-nav-item klass" data-id="{{ id }}">
                    <a class="side-nav-open" href="#class-{{ id }}">
                        <i class="nav-item-caret"></i>
                        {{ name }}
                    </a>
                    <ul id="class-{{ id }}" class="side-nav-child {{#if selected}}open{{/if}}">
                        <li class="side-nav-item-heading">
                            <a href="#" class="side-nav-back">
                                <i class="nav-item-caret"></i>
                                {{ name }}
                            </a>
                        </li><!-- /header layouts child -->
                        <li class="side-nav-item students">
                            <a href="#">
                                <span class="badge">{{students.length}}</span>
                                <i class="nav-item-icon icon ion-android-friends"></i>
                                Students
                            </a>
                        </li><!-- /blank -->
                        <li class="side-nav-item schedule">
                            <a href="#">
                                <i class="nav-item-icon icon ion-calendar"></i>
                                Schedule
                            </a>
                        </li><!-- /variation -->
                        <li class="side-nav-item settings">
                            <a href="#">
                                <i class="nav-item-icon icon ion-settings"></i>
                                Settings
                            </a>
                        </li><!-- /variation -->
                    </ul><!-- /layouts child -->
                </li><!-- /Class -->
                {{/each}}
            </ul><!-- /nav ul-->
        </script>
        <script type="text/x-handlebars-template" id="students-template">
            {{#each this}}
                <div class="card people">
                   <div class="card-top">
                      <a href="#">
                          <img src="http://placehold.it/170x170" alt=""/>
                      </a>
                  </div>
                  <div class="card-info">
                      <a class="title"href="#">{{ name }}</a>
                      <div class="desc">Last assessed</div>
                  </div>
                  <div class="card-bottom">
                      <button class="btn btn-default"><i class="icon ion-compose"></i></button>
                  </div>
              </div>
          {{/each}}
        </script>
        <script type="text/x-handlebars-template" id="create-klass-template">
            <div class="magic-layout">
                <div class="box magic-element width-full">
                    <form id="add-class-form" class="form-horizontal" role="form">
                        <h2 class="box-heading">
                         Basic Information
                     </h2>
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="classname">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-ion" id="classname" name="classname" placeholder="Class name">
                        </div>
                    </div><!-- /form-group -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="classdaterangepicker">Semester</label>
                        <div class="col-sm-9">
                            <div class='input-group date'>
                                <span class="input-group-addon">
                                    <span class="icon ion-ios7-calendar-outline"></span>
                                </span>
                                <input type='text' class="form-control" id='classdaterangepicker' name="classdaterangepicker"/>
                            </div>
                        </div>
                    </div><!-- /form-group -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="select">Colour</label>
                        <div class="col-sm-10">
                            <select id="class-colour-picker" name="class-colour-picker">
                                <option value="#1abc9c">Turquoise</option>
                                <option value="#16a085">Greensea</option>
                                <option value="#f1c40f">Sunflower</option>
                                <option value="#f39c12">Orange</option>
                                <option value="#2ecc71">Emerald</option>
                                <option value="#27ae60">Nephritis</option>
                                <option value="#e67e22">Carrot</option>
                                <option value="#d35400">Pumpkin</option>
                                <option value="#3498db">Peterriver</option>
                                <option value="#2980b9">Belizehole</option>
                                <option value="#e74c3c">Alizarin</option>
                                <option value="#c0392b">Pomegranate</option>
                                <option value="#9b59b6">Amethyst</option>
                                <option value="#8e44ad">Wisteria</option>
                                <option value="#ecf0f1">Cloud</option>
                                <option value="#bdc3c7">Silver</option>
                                <option value="#34495e">Wetasphalt</option>
                                <option value="#2c3e50">Midnightblue</option>
                                <option value="#95a5a6">Concrete</option>
                                <option value="#7f8c8d">Asbestos</option>
                            </select>
                        </div>
                    </div><!-- /form-group -->
                </form><!-- /form -->
            </div><!-- /box -->
        </div>
        </script>
        {% endverbatim %}
    </head>

    <body>
        <section id="wrapper" class="container" data-template-name="application">
            <!-- define side left theme -->
            <aside class="side-left">
                <!-- side header -->
                <div class="side-header">
                    <!-- place your brand (recomended: dont change the id value) -->
                    <!-- (recomended: dont change the id value) -->
                    <h1 id="brand" class="brand">
                        <a href="#">
                            <!-- <i class="icon ion-waterdrop"></i> -->
                            <img src="{% static 'img/nav-logo.png' %}" alt="Sesame IO">   <!-- 32px image logo -->
                        </a>
                    </h1><!-- /brand -->
                </div><!-- /side header -->

                <!-- side body -->
                <div class="side-body">
                    <!-- separate nav for ease development -->
                    <nav id="main-nav" class="side-nav"></nav>
                </div><!-- /side body -->
            </aside><!-- /side left -->

            <section id="content" class="content">
                <!-- define your content header here -->
                <header class="content-header">
                    <!-- header actions -->
                    <div id="header-actions" class="header-actions pull-right" style="padding-right: 13px;">
                    </div><!-- /header actions -->

                    <!-- header actions -->
                    <div class="header-actions pull-left">
                        <!-- (recomended: dont change the id value) -->
                        <button id="toggle-content" class="btn btn-icon" type="button"><i class="icon ion-navicon-round"></i></button>
                    </div><!-- /header actions -->

                    <!-- your Awesome App title -->
                    <h1 id="content-title" class="content-title">Home</h1>
                </header><!-- /side left -->


                <!-- define content row -->
                <div class="content-spliter">
                    <!-- your app content -->
                    <div class="content-app fixed-header">
                        <!-- app body -->
                        <div id="app-body" class="app-body">
                        </div><!-- app body -->
                    </div><!-- /content app -->
                </div><!-- /content spliter -->

            </section><!-- /content -->
        </section><!-- /wrapper -->

        <!-- jQuery, theme required for theme -->
        <script src="{% static 'stock/jquery/jquery.js' %}"></script>
        <script src="{% static 'stock/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- theme dependencies -->
        <!--
            Contents List
            1. Raphaël
            2. Isotope
            3. verge
            4. Moment
            5. Prettify
        -->
        <script src="{% static 'stock/app/js/dependencies.js' %}"></script>
        <script src="{% static 'stock/app/js/main.js' %}"></script>
        <script src="{% static 'stock/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
        <script src="{% static 'stock/jquery-simplecolorpicker/jquery.simplecolorpicker.js' %}"></script>

        <!-- Backbone dependencies -->
        <script src="{% static 'js/lib/backbone-min.js' %}"></script>
        <script src="{% static 'js/lib/handlebars-v1.3.0.js' %}"></script>
        <script src="{% static 'js/lib/backbone.handlebars.min.js' %}"></script>
        <script src="{% static 'js/app/models.js' %}"></script>
        <script src="{% static 'js/app/views.js' %}"></script>
        <script src="{% static 'js/app/routes.js' %}"></script>
        <script src="{% static 'js/app/bootstrap.js' %}"></script>
    </body>
</html>