<div class="magic-layout">
    <div class="box magic-element width-full">
        <form id="add-class-form" class="form-horizontal" role="form">
            <h2 class="box-heading">
                Create New Students
            </h2>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputTextarea">Student info</label>
                <div class="col-sm-10">
                    <textarea
                        id="new-student-list"
                        rows="5"
                        class="form-control form-ion"
                        placeholder="first name, last name, email (optional), student ID (optional)"
                    ></textarea>
                    <span class="help-block">Enter a comma-separated list of first names, last name, email and student ID.</span>
                </div>
            </div><!-- /form-group -->
            <h2 class="box-heading">
                Enroll Existing Students
            </h2>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputTextarea">Class List</label>
                <div class="col-sm-10">
                     <select class="multiselect" multiple>
                        {% for class in classes %}
                            <optgroup label="{{ class.name }}">
                                {% for students in class.student.all %}
                                    <option value="{{ student.id }}">{{ student.name }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div><!-- /form-group -->
        </form><!-- /form -->
    </div><!-- /box -->
</div>

<script type="text/javascript">
    $(function(){
        'use strict';

        // multiselect
        $(".multiselect").multiSelect();
    })
</script>
