{% load staticfiles %}

<div class="profile-cover">
    <div class="pc-img">
        <div class="pc-cover-change">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-ion btn-danger btn-file">
                    <span class="fileinput-new">Change cover</span>
                    <span class="fileinput-exists">Change cover</span>
                    <input type="file" name="cover-changer" accept="image/*">
                </span>
                <!-- <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a> -->
            </div><!-- /fileinput -->
        </div>
        <img src="{% static 'stock/app/img/cover.jpg' %}" alt=""><!-- /img cover -->
    </div><!-- /profile-cover-img -->

    <div class="pc-details">
        <img class="pc-details-bg" src="{% static 'stock/app/img/cover-blur.jpg' %}" alt=""><!-- /as bg pc-details -->
        <div class="pc-details-content">
            <div class="pc-details-pp">
                <div class="pc-pp-change">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-sm btn-ion btn-danger btn-file">
                            <span class="fileinput-new"><i class="icon ion-camera"></i></span>
                            <span class="fileinput-exists"><i class="icon ion-camera"></i></span>
                            <input type="file" name="pp-changer" accept="image/*">
                        </span>
                    </div><!-- /fileinput -->
                </div>
                <img src="{% static 'stock/app/img/avatar4.png' %}" alt="" class="img-circle" width="128" /><!-- /photo profile -->
            </div>
            <h3>Mr. Doe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, eligendi expedita assumenda ab</p>

            <div class="pc-socials">
                <a href="#" class="btn btn-flat btn-default btn-sm">
                    &nbsp;<i class="icon ion-social-facebook text-info"></i>&nbsp;
                </a>
                <a href="#" class="btn btn-flat btn-default btn-sm">
                    <i class="icon ion-social-dribbble text-danger"></i>
                </a>
                <a href="#" class="btn btn-flat btn-default btn-sm">
                    <i class="icon ion-social-twitter text-info"></i>
                </a>
            </div>
        </div><!-- /profile-cover-details-content -->
    </div><!-- /profile-cover-details -->
</div><!-- /profile-cover -->


<div class="profile-actions">
    <ul class="nav nav-pills nav-justified">
        <li
            data-url="{% url 'students_about' student_id=student.id %}"
            onclick="updateStudentProfileBody(this)"
        >
            <a href="#">About</a>
        </li>
        <li
            data-url="{% url 'students_posts' student_id=student.id %}"
            onclick="updateStudentProfileBody(this)"
        >
            <a href="#">Posts</a>
        </li>
        <li
            data-url="{% url 'students_report' student_id=student.id %}"
            onclick="updateStudentProfileBody(this)"
        >
            <a href="#">Report</a>
        </li>
    </ul>
</div><!-- /profile-actions -->


<!-- student profile body -->
<div id="student-profile-body">
</div><!-- /student profile body-->
