{% extends 'layouts/console_base.html' %}
{% load staticfiles %}

{% block title %}
    Students
{% endblock %}

{% block css_includes %}
    <link rel='stylesheet' href=" {% static 'css/console/lib/fullcalendar.css' %}" />
    <link rel='stylesheet' media='print' href="{% static 'css/console/lib/fullcalendar.print.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/compiled/calendar.css' %}" />
{% endblock %}

{% block js_includes %}
    <script type="text/javascript" src="{% static 'js/console/lib/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/console/schedules.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- settings changer -->
    <div class="skins-nav">
        <a href="#" class="skin first_nav selected">
            <span class="icon"></span><span class="text">Default</span>
        </a>
        <a href="#" class="skin second_nav" data-file="css/compiled/skins/dark.css">
            <span class="icon"></span><span class="text">Dark skin</span>
        </a>
    </div>

    <div id="pad-wrapper">
        <div class="row calendar-wrapper">
            <div class="col-md-12">

                <!-- div that fullcalendar plugin uses  -->
                <div id='calendar'></div>

                <!-- edit image pop up -->
                <div class="new-event popup">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <i class="close-pop table-delete"></i>
                    <h5>New event popup example</h5>
                    <div class="field">
                        Date:
                        <span class="date">Thu, 18 April</span>
                    </div>
                    <div class="field">
                        Event:
                        <input type="text" class="event-input form-control" />
                    </div>
                    <input type="submit" value="Create" class="btn-glow primary">
                </div>
            </div>
        </div>
    </div>
{% endblock %}