{% extends 'layouts/console_base.html' %}
{% load staticfiles %}

{% block css_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/compiled/personal-info.css' %}" />
{% endblock %}

{% block content %}
    <div class="settings-wrapper" id="pad-wrapper">
        <div class="row">
            <!-- avatar column -->
            <div class="col-md-3 avatar-box">
                <div class="personal-image">
                    <img src="{% static 'img/console/personal-info.png' %}" class="avatar img-circle" alt="avatar" />
                    <p>Upload a different photo...</p>

                    <input type="file" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}