{% extends 'layouts/console_base.html' %}
{% load staticfiles %}

{% block css_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/compiled/personal-info.css' %}" />
{% endblock %}

{% block content %}
    <div class="settings-wrapper" id="pad-wrapper">
        <div class="row">
            <!-- avatar column -->
            <div class="col-md-3 avatar-box">
                <div class="personal-image">
                    <img src="{% static 'img/console/personal-info.png' %}" class="avatar img-circle" alt="avatar" />
                    <p>Upload a different photo...</p>

                    <input type="file" />
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <h5 class="personal-title">Portfolio</h5>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">First name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="Alejandra" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Last name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="Galvan" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="Design Co." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="alejandra@design.com" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Time Zone:</label>
                        <div class="col-lg-8">
                            <div class="ui-select">
                                <select id="user_time_zone" name="user[time_zone]">
                                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option value="Alaska">(GMT-09:00) Alaska</option>
                                    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                    <option value="Arizona">(GMT-07:00) Arizona</option>
                                    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                    <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Username:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="alegalvan" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Password:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="password" value="blablablabla" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Confirm password:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="password" value="blablablabla" />
                        </div>
                    </div>
                    <div class="actions">
                        <input type="button" class="btn-glow primary" value="Save Changes">
                        <span>OR</span>
                        <input type="reset" value="Cancel" class="reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}