{% extends 'layouts/console_base.html' %}
{% load staticfiles %}

{% block css_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/compiled/user-profile.css' %}" />
{% endblock %}


{% block content %}
    <div id="pad-wrapper" class="user-profile">
        <!-- header -->
        <div class="row header">
            <div class="col-md-8">
                <img src="{% static 'img/console/contact-profile.png' %}" alt="contact" class="avatar img-circle" />
                <h3 class="name">Alejandra Galván Castillo</h3>
                <span class="area">Graphic Designer</span>
            </div>
             <a class="btn-flat white large pull-right">
                 <i class="fa fa-sign-out"></i> Logout
            </a>
        </div>

        <div class="row profile">
<!-- edit form column -->
            <div class="col-md-9 bio">
                <div class="profile-box"></div>
                <h5 class="personal-title">Portfolio</h5>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">First name:</label>
                        <div class="col-lg-8">
                            <input class="form-control inline-input" type="text" value="Alejandra" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Last name:</label>
                        <div class="col-lg-8">
                            <input class="form-control inline-input" type="text" value="Galvan" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company:</label>
                        <div class="col-lg-8">
                            <input class="form-control inline-input" type="text" value="Design Co." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control inline-input" type="text" value="alejandra@design.com" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Time Zone:</label>
                        <div class="col-lg-8">
                            <div class="ui-select">
                                <select id="user_time_zone" name="user[time_zone]">
                                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                    <option value="Alaska">(GMT-09:00) Alaska</option>
                                    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                    <option value="Arizona">(GMT-07:00) Arizona</option>
                                    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                    <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Username:</label>
                        <div class="col-lg-8">
                            <input class="form-control inline-input" type="text" value="alegalvan" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Password:</label>
                        <div class="col-lg-8">
                            <input class="form-control inline-input" type="password" value="blablablabla" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Confirm password:</label>
                        <div class="col-lg-8">
                            <input class="form-control inline-input" type="password" value="blablablabla" />
                        </div>
                    </div>
                    <div class="actions">
                        <div class="col-lg-12 submit-box pull-right">
                            <input type="submit" class="btn-flat large" value="Save">
                            <span>OR</span>
                            <input type="reset" value="Cancel" class="reset">
                        </div>
                    </div>
                </form>
            </div>

            <!-- side address column -->
            <div class="col-md-3 col-xs-12 address pull-right">
                <h6>Address</h6>
                <iframe width="300" height="133" scrolling="no" src="https://maps.google.com.mx/?ie=UTF8&amp;t=m&amp;ll=19.715081,-155.071421&amp;spn=0.010746,0.025749&amp;z=14&amp;output=embed"></iframe>
                <ul>
                    <li>2301 East Lamar Blvd. Suite 140. </li>
                    <li>City, Arlington. United States,</li>
                    <li>Zip Code, TX 76006.</li>
                    <li class="ico-li">
                        <i class="ico-phone"></i>
                        1817 274 2933
                    </li>
                     <li class="ico-li">
                        <i class="ico-mail"></i>
                        <a href="#">alejandra@detail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
