{% extends 'layouts/portal_base.html' %}
{% load staticfiles %}

{% block title %}
    Login
{% endblock %}

{% block css_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/compiled/signin.css' %}" />
{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <a href="{% url 'welcome' %}">
            <img class="logo" src="{% static 'img/console/logo-white.png' %}" alt="logo" />
        </a>

        <div class="box">
            <div class="content-wrap">
                <h6>Log in</h6>
                <input class="form-control" type="text" placeholder="E-mail address">
                <input class="form-control" type="password" placeholder="Your password">
                <a href="#" class="forgot">Forgot password?</a>
                <div class="remember">
                    <input id="remember-me" type="checkbox">
                    <label for="remember-me">Remember me</label>
                </div>
                <a class="btn-flat primary login" href="#">Log in</a>
            </div>
        </div>

        <div class="no-account">
            <p>Don't have an account?</p>
            <a href="#">Sign up</a>
        </div>
    </div>
{% endblock %}