{% extends 'layouts/portal_base.html' %}
{% load staticfiles %}

{% block title %}
    Login
{% endblock %}

{% block css_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console/compiled/signin.css' %}" />
{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <a href="{% url 'welcome' %}">
            <img class="logo" src="{% static 'img/console/logo-white.png' %}" alt="logo" />
        </a>

        <div class="box">
            <div class="content-wrap">
                <h6>Sign Up</h6>
                <input class="form-control" type="text" placeholder="E-mail address">
                <input class="form-control" type="password" placeholder="Password">
                <input class="form-control" type="password" placeholder="Confirm Password">
                <div class="action" style="padding-top: 15px;">
                    <a class="btn-flat primary login" href="index.html">Sign up</a>
                </div>
            </div>
        </div>

        <div class="no-account">
            <p>Already have an account?</p>
            <a href="signin.html">Sign in</a>
        </div>
    </div>
{% endblock %}
