{% extends 'layouts/app_base.html' %}
{% load staticfiles %}

{% block header %}
    <div class="pull-right">
        <a
            class="btn btn-ion btn-primary"
            data-url="{% url 'classes_add' %}"
            onclick="updateAppBody(this)"
        >
            <i class="icon ion-ios7-plus-outline"></i>
            Add class
        </a>
    </div>
    <ol class="breadcrumb bg-none pull-left hide-xs">
        <li><a href="#">Home</a></li>
    </ol>
    <!-- <h3 class="app-title">Drop App Modules</h3> -->
{% endblock %}

{% block body %}

{% endblock %}
